.git
.github
.claude
.devcontainer
docs
e2e
!e2e/tests
!e2e/gen
e2e-images
logs
k8s
specs
tests
charts
runner-images
services
*.md
LICENSE
sonar-project.properties
.golangci.yml
docker-compose*.yml
Makefile
